.article {

  &__section-title {
    margin: 30px 0 0;
    font-family: Ubuntu;
    font-weight: 300;
    font-style: normal;
    color: #b4ad9e;

    &_bottom {
      margin: 50px 0 130px;
    }
  }

  &__title {
    font-size: 40px;
    margin: 30px 0 40px;
  }

  &__text {
    line-height: 32px;
  }

  &__text, &__title {
    font-family: PlayfairDisplay;
    font-weight: 400;
    font-style: normal;
    color: #626262;
    
  }
  img {
    max-width: 100%;
  }
}
