.post {

  &__gallery {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 50px 0;

    img {
      max-width: 100%;
    }
  }

  &__quote {
    font-family: PlayfairDisplay;
    font-weight: 500;
    font-style: italic;
    padding: 0px 25px 50px;
    color: #626262;
    line-height: 32px;
  }
}

.share {
  color: #b4ad9e;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  margin: 70px 0 0px;

  &__title {
    margin: 0 10px 0 0;
  }
}
