.slider {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  &__line {
    width: 1024px;
    max-height: 510px;
    display: flex;
    background: #b4ad9e;
    position: relative;
    left: 0;
    transition: all ease 1s;

    @media (max-width: 767px) {
      max-height: none;
      height: auto;
    }
  }

  &__prev {
    position: absolute;
    top: calc(50% - 17px);
    left: 5px;
  }

  &__next {
    position: absolute;
    top: calc(50% - 17px);
    right: 5px;
  }
}

.button {
  background: rgba(180, 173, 158, 0.65);
  border-radius: 50%;
  padding: 5px;

  &__left {
    right: 3px;
  }

  &__right {
    left: 3px;
  }
  img {
    width: 35px;
    position: relative;
  }
}
