@import "null";
@import "fonts";
@import "header";
@import "header-burger";
@import "slider";
@import "footer";
@import "article";
@import "table-posts";
@import "sign-up";
@import "load-more";
@import "post";
@import "like";
@import "comments";
@import "sidebar";

body.scrollHide {
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 1 auto;
}

.container {
	max-width: 1090px;
	margin: 0 auto;

	@media (max-width: 1200px) {
		margin: 0 70px;
	}

	@media (max-width: 1024px) {
		margin: 0 40px;
	}

	@media (max-width: 767px) {
		margin: 0 15px;
	}
}

.main-container {
	max-width: 930px;
	margin: 0 auto;

	@media (max-width: 1200px) {
		margin: 0 135px;
	}

	@media (max-width: 1024px) {
		margin: 0 40px;
	}

	@media (max-width: 767px) {
		margin: 0 15px;
	}
}

.main-container-sidebar {
	max-width: 900px;
	margin-left: auto;
	display: flex;
	gap: 50px;
	padding: 0 0 80px;

	@media(max-width: 768px) {
		flex-direction: column;
	}
}
