.posts-table {
  display: grid;
  // grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 130px 65px;

  @media(max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}